.popup-wrapper-profile .popup-overlay.show > .popup {
   transform: scale(1);
   visibility: visible;
   opacity: 1;
   z-index: 99;
}

.popup-profile.popup {
   max-width: 550px;
   padding-top: 20px !important;
   padding-bottom: 20px !important;
}

.popup-profile h1 {
   font-weight: 500;
}

.popup-profile p {
   font-size: 1.4rem;
   margin: 5px 0;
   color: var(--colorGray);
}

.popup-edit-photo {
   padding: 30px 0;
}
.popup-credentials, .popup-title, .popup-disable-account {
   padding: 15px 0;
}

.popup-title, .popup-edit-photo, .popup-credentials {
   border-bottom: 1px solid #00000028;
} 

.popup-title > h1 {
   font: 700 min(3rem, 6vw) var(--fontDefault);
}

.popup-edit-photo {
   display: flex;
   gap: 15px;
   align-items: center;
}

.popup-edit-photo > .container-photo {
   flex-shrink: 0;
   width: 105px; 
   height: 105px;
   border-radius: 10px;
   background: #F6F6F6;
   border: 1px solid #DBDBDB;
   display: flex;
   align-items: center;
   justify-content: center;
}

.container-photo > img {
   width: 100%;
   height: 100%;
}

.popup-edit-photo > .container-photo-contents {
   height: 100px;
   display: flex;
   flex-direction: column;
}

.title-photo > h1, .container-texts-popup > h1 {
   font-size: 2rem;
}

.button-photo {
   margin-top: auto;
}

:is(.popup-edit-photo, .popup-credentials, .popup-disable-account) button {
   width: 100px;
   height: 35px;
   background: #fff;
   color: var(--accentColor);
   border: 1px solid #00000028;
   font-size: 1.5rem;
}

.popup-profile button:not(.container-buttons > button:first-child) {
   box-shadow: none;
}

:is(.button-photo > button, .popup-credentials .btn-cancel, .popup-disable-account button):hover {
   border-color: #646369d3;
}

.edit-profile-form > div {
   margin: 15px 0;
}

.edit-profile-form input {
   background: #F6F6F6;
   margin-top: 5px;
}

.popup-credentials label {
   color: var(--colorGray);
}

.container-buttons > .btn-update-credentials {
   border: none;
   color: #fff;
   background: var(--accentColor);
}

.container-buttons {
   display: flex;
   margin-top: 20px;
   gap: 10px;
}

.popup-disable-account {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 20px;
}

.popup-disable-account button {
   color: red;
}

/* Container message */

.container-message {
   display: none;
   align-items: center;
   gap: 5px;
   animation: opacityMessage 0.3s forwards;
}

:is(.container-error-profile, .container-success-profile) > svg {
   flex-shrink: 0;
}

.container-error-profile {
   color: #D9000C;
}

.container-success-profile {
   color: #4CAF50;
}

.container-error-profile.show, .container-success-profile.show {
   display: flex;
}

/* POPUP DELETE ACCOUNT */

.popup-confirm-to-delete-account p {
   color: var(--colorGray);
}

.popup-confirm-to-delete-account p > strong {
   color: var(--accentColor);
}

.container-input {
   width: 100%;
   position: relative;
}

.container-input > input {
   background: #F6F6F6;
}

.popup-confirm-to-delete-account.popup {
   max-width: 650px;
   padding: 20px !important;
}

.popup-confirm-to-delete-account .texts {
   margin: 15px 0 25px 0;
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.controls .buttons {
   margin-top: 20px;
   display: flex;
   justify-content: flex-end;
   gap: 10px;
}

.controls .buttons button {
   width: 100%;
   max-width: 110px;
   height: 35px;
   background-color: #fff;
   border: 1px solid #00000028;
   box-shadow: none;
   font-size: 1.5rem;
}

.btn-cancel-confirm {
   color: var(--accentColor) !important;
}

.btn-cancel-confirm:hover {
   border-color: #000 !important;
}

.btn-delete-confirm {
   color: #000 !important;
   background-color: rgb(235, 235, 235) !important;
   cursor: not-allowed !important;
}

.btn-delete-confirm-active {
   background: #d9000bad !important;
   color: #fff !important;
   cursor: pointer !important;
}

.btn-delete-confirm-active:hover {
   background-color: #b90009da !important;
}


/* Responsive */

@media (max-width: 350px) {
   .popup-disable-account {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
   }
}

@media (max-width: 314px) {
   .popup-edit-photo {
      flex-direction: column;
   }

   .popup-edit-photo > .container-photo-contents {
      gap: 5px;
   }
}