.popup-wrapper-profile .popup-overlay.show > .popup {
   transform: scale(1);
   visibility: visible;
   opacity: 1;
   z-index: 99;
}

.popup-profile.popup {
   max-width: 550px;
   padding-top: 20px !important;
   padding-bottom: 20px !important;
}

.container-slider {
   position: relative;
   overflow-x: hidden;
   width: 100%;
   display: flex;
}

.container-slider > div {
   min-width: 100%;
   visibility: hidden;
   opacity: 0;
   transition: 0.3s;
}

.container-slider > .container-email-username, .container-reset-password.show {
   transform: translateX(-100%);
} 

.container-slider > div.show {
   visibility: visible;
   opacity: 1;
}

.container-slider > .container-email-username.show {
   transform: none;
}

/* ---------- Global ---------- */

.popup-profile h1 {
   font-weight: 500;
}

.popup-profile p {
   font-size: 1.4rem;
   margin: 5px 0;
   color: var(--paragraphColor);
}

.popup-edit-photo {
   padding: 30px 0;
}
.container-slider, .popup-title, .popup-disable-account {
   padding: 15px 0;
}

.popup-title, .popup-edit-photo, .container-slider {
   border-bottom: 1px solid #00000028;
} 

.popup-title > h1 {
   font: 700 min(3rem, 6vw) var(--fontDefault);
}

.popup-edit-photo > form {
   display: flex;
   gap: 15px;
   align-items: center;
}

.popup-edit-photo .container-photo {
   flex-shrink: 0;
   width: 105px; 
   height: 105px;
   border-radius: 10px;
   background: #F6F6F6;
   border: 1px solid var(--colorLine);
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}

.container-photo :is(label, img) {
   width: 100%;
   height: 100%;
}

.container-photo img {
   border-radius: 50%;
   object-fit: cover;
}

.container-photo > label {
   padding: 2px;
   cursor: pointer;
}

.inputPhoto {
   display: none;
}

.popup-edit-photo .container-photo-contents {
   height: 100px;
   display: flex;
   flex-direction: column;
}

.title-photo > h1, .container-texts-popup > h1 {
   font-size: 2rem;
}

.button-photo {
   margin-top: auto;
}

:is(.popup-edit-photo, .container-slider, .popup-disable-account) button {
   width: 100px;
   height: 35px;
   font-size: 1.5rem;
}

:is(.popup-edit-photo, .container-slider, .popup-disable-account) button.tertiary {
   background: #fff;
   color: var(--primaryColor);
   border: 1px solid var(--secondaryBorderColor);
}

.popup-profile button:not(.container-buttons button:first-child) {
   box-shadow: none;
}

:is(.button-photo > button, .container-slider .btn-cancel, .popup-disable-account button):hover {
   border-color: var(--secondaryHoverBorderColor);
}

:is(.edit-profile-form, .reset-password-form) > div {
   margin: 15px 0;
}

.container-slider > .container-email-username input {
   background: #F6F6F6;
   margin-top: 5px;
}

.container-slider label {
   color: var(--paragraphColor);
}

.container-buttons .btn-update-credentials, .btn-update-password {
   border: none;
   color: #fff;
   background: var(--primaryColor);
}

.container-buttons {
   display: flex;
   margin-top: 20px;
   justify-content: space-between;
}

.container-buttons > div:first-child {
   display: flex;
   gap: 10px;
}

.popup-disable-account {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 20px;
}

.popup-disable-account button {
   color: red !important;
}

/* ---------- Container Message ---------- */

.container-message {
   display: none;
   align-items: center;
   gap: 5px;
   animation: opacityMessage 0.3s forwards;
}

.container-message > svg {
   flex-shrink: 0;
}

.container-credentials-error, .container-photo-error, .container-reset-password-error {
   color: var(--primaryErrorColor);
}

.container-credentials-success, .container-photo-success, .container-reset-password-success {
   color: var(--primarySuccessColor);
}

.container-message.show {
   display: flex;
}

.popup-edit-photo > div {
   margin-top: 10px;
}

/* ---------- Popup Delete Account ---------- */

.popup-confirm-to-delete-account p {
   color: var(--paragraphColor);
}

.popup-confirm-to-delete-account p > strong {
   color: var(--primaryColor);
}

.container-input {
   width: 100%;
   position: relative;
}

.container-input input {
   background: #F6F6F6;
}

.popup-confirm-to-delete-account.popup {
   max-width: 650px;
   padding: 20px !important;
}

.popup-confirm-to-delete-account .texts {
   margin: 15px 0 25px 0;
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.controls .buttons {
   margin-top: 20px;
   display: flex;
   justify-content: flex-end;
   gap: 10px;
}

.controls .buttons button {
   width: 100%;
   max-width: 110px;
   height: 35px;
   background-color: #fff;
   box-shadow: none;
   font-size: 1.5rem;
}

.btn-cancel-confirm {
   color: var(--primaryColor) !important;
   border: 1px solid var(--secondaryBorderColor) !important;
}

.btn-cancel-confirm:hover {
   border-color: var(--secondaryHoverBorderColor) !important;
}

.btn-delete-confirm {
   color: #000 !important;
   background-color: rgb(235, 235, 235) !important;
   cursor: not-allowed !important;
}

.btn-delete-confirm-active {
   background: var(--primaryErrorColor) !important;
   color: #fff !important;
   cursor: pointer !important;
}

.btn-delete-confirm-active:hover {
   background-color: var(--primaryErrorHoverColor) !important;
}

/* ---------- Btn Slide To reset passwordd ---------- */

.secondary {
   width: auto !important;
   box-shadow: none !important;
   background-color: transparent !important;
   display: inline-flex;
   align-items: center;
   cursor: pointer;
   gap: 3px;
   font-weight: 500 !important;
   color: var(--primaryColor) !important;
   border-radius: 8px;
   padding: 0 10px;
}

.secondary > img {
   width: 20px;
   transition: transform 0.2s;
}

.secondary:hover {
   background-color: var(--secondaryColor) !important;
}

.secondary:hover > img {
   transform: translateX(4px);
}

.btn-update-password {
   width: 120px !important;
}

.btn-email-username > img {
   transform: rotateZ(-180deg);
}

.btn-email-username:hover > img {
   transform: rotateZ(-180deg) translateX(4px);
}

/* ---------- Reset Password ---------- */

.container-input-password {
   margin-top: 5px;
   position: relative;
}

span.forgot-password {
   margin-right: 5px;
   padding: 5px;
   cursor: pointer;
   font: 1.5rem var(--fontDefault);
   color: var(--paragraphColor);
}

span.forgot-password:hover {
   text-decoration: underline;
}

/* ---------- Responsive ---------- */

@media (max-width: 350px) {
   .popup-disable-account {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
   }
}

@media (max-width: 330px) {
   .popup-edit-photo > .container-message {
      margin-top: 25px;
   }
}

@media (max-width: 314px) {
   .popup-edit-photo > form {
      flex-direction: column;
   }

   .popup-edit-photo > form > .container-photo-contents {
      gap: 5px;
   }
}