main, .note-app {
   height: calc(100vh - 61px);
   min-height: 600px;
}

.note-app {
   width: 100%;
   display: flex;
}

/* Global */

section.categories {
   width: 20%;
}

section.note-list {
   width: 40%;
}

section.current-note {
   width: 40%;
}

.container-add-categorie > button, .container-add-note > button {
   width: 100%;
   height: 100%;
   padding: 0 20px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 10px;
   font: 1.6rem var(--fontDefault), sans-serif;
}

/* Section Categories */

.container-search, .category-item, .container-add-categorie {
   border-radius: 8px;
   height: 50px;
   flex-shrink: 0;
}

section.categories {
   height: 100%;
   background: #F9F9F9;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 50px;
   padding: 20px;
   color: #969696;
   overflow-y: auto;
}

.container-search > div {
   border-radius: 8px;
   height: 100%;
   background-color: #fff;
   display: flex;
   align-items: center;
   padding: 0 10px;
   gap: 10px;
}

.container-search input {
   height: 100%;
   width: 100%;
   outline: none;
   border: none;
   font: 1.6rem var(--fontDefault), sans-serif;
}

.container-search input::-webkit-search-cancel-button {
   appearance: none;
   display: none;
}

.container-categories-list {
   margin-top: 50px;
}

.container-categories-list > ul {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

/* CATEGORY CARDS */

.category-item {
   width: 100%;
   background-color: #F9F9F9;
   display: flex;
   transition: 0.3s;
}

.category-item.confirmation {
   background-color: #fff;
}

.category-item.confirmation .btn-name > input {
   position: relative;
   z-index: 99999;
}

.category-item:hover {
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
   background-color: #fff;
}

.category-item:hover .category-name {
   color: #000;
}

.category-item > div {
   height: 100%;
}

/* -------- */

.container-name {
   width: 100%;
}

.container-options > .container-dropDown {
   width: 50px;
}

.container-options > .container-confirmation {
   position: relative;
   z-index: 9999;
   width: 90px;
}

.container-options {
   padding: 5px;
}

.container-options .list-dropDown > li:hover > .tooltip {
   visibility: visible;
   opacity: 1;
   transform: translateX(0);
}

.btn-name {
   height: 100%;
   width: 100%;
   background: none;
   color: var(--colorGray);
   transition: color 0.3s;
   padding-left: 20px; 
   display: flex;
   align-items: center;
   gap: 10px;
   font-size: 1.6rem;
}

.btn-name > input {
   pointer-events: none;
   height: 100%;
   padding: 0;
   border: none;
   cursor: pointer;
}

.btn-name > svg {
   margin-top: 2px;
}

.category-item.confirmation input {
   pointer-events: all;
   cursor: text;
}

.container-options > div {
   width: 100%;
   height: 100%;
}

.container-options .list-dropDown > li:hover svg {
   fill: #000;
}

.category-item.selected {
   background-color: #fff;
}

.category-item.selected .btn-name, .category-item.selected .btn-name > input {
   color: var(--accentColor);
}

.container-confirmation > button {
   flex: 1 1;
   height: 100%;
   background-color: transparent;
   cursor: pointer;
}

.btn-confirm-category {
   z-index: 99999;
}

.category-item .container-options > div {
   display: none;
}

.category-item > .container-options > div.show {
   display: flex;
}

.btn-confirm-category:hover {
   background-color: #32ff8e28;
}

.btn-undo-category:hover {
   background-color: rgba(255, 126, 126, 0.205);
}

.list-dropDown > li > button {
   cursor: pointer;
   width: 100%;
   height: 100%;
   background-color: transparent;
   border: none;
   outline: none;
}


/* SECTION NOTES LIST */

section.note-list {
   height: 100%;
   padding: 20px;
   border-right: 1px solid #DBDBDB; 
   overflow-y: auto;
} 

.note-list h1 {
   font: 400 4rem var(--fontDefault), sans-serif;
}

.container-add-note {
   margin: 20px 0 30px 0;
   height: 50px;
}

.container-add-note > button {
   background-color: #F9F9F9;
   color: var(--accentColor);
}

.container-notes > ul {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.note-item > button {
   height: 130px;
   text-align: left;
   padding: 10px;
   border-radius: 8px;
   border: none;
   cursor: pointer;
   background-color: #F9F9F9;
   color: #969696;
   overflow: hidden;
}

.note-item p {
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
}

.note-item h2 {
   margin: 10px 0;
   font-size: 1.6rem;
   color: #494949;
}

.note-item small {
   font-size: 1.2rem;
}

.note-item.selected > button {
   background-color: #EDEDED !important;
   color: #666666;
}

.note-item.selected h2 {
   color: #000;
}

/* SECTION CURRENT NOTE */

section.current-note {
   height: 100%;
   padding: 20px;
   overflow: hidden !important;
}

.note-path {
   color: var(--accentColor);
}

.current-note > .header {
   border-bottom: 1px solid #DBDBDB; 
   padding-bottom: 10px;
}

.current-note > .main {
   margin-top: 20px;
   height: calc(100% - 62px);
   padding-bottom: 20px;
   overflow-y: auto;
   overflow-x: hidden;
}

.title-note input {
   width: 100%;
   border: none;
   outline: none;
   background-color: none;
   font: 400 4rem var(--fontDefault), sans-serif;
}

.last-modification {
   margin-top: 10px;
}

.last-modification > small {
   color: #757575;
}

.last-modification strong {
   color: #000;
}

.tool-bar {
   margin: 20px 0;
   padding: 10px 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-top: 1px solid #DBDBDB;
   border-bottom: 1px solid #DBDBDB;
}

.tool-bar button, .select-group > select, .select-group > input {
   height: 15px;
   background: none;
   outline: none;
   border: none;
   cursor: pointer;
   flex-shrink: 0;
}

.tool-bar button > img {
   width: 100%;
   height: 100%;
}

.tool-bar > div {
   display: flex;
   gap: 30px;
}

.center-tools {
   border-right: 1px solid #DBDBDB;
   border-left: 1px solid #DBDBDB;
   padding: 0 30px;
}

.select-group > select, .select-group > input {
   height: 25px;
   background-color: #E3E3E3;
   border-radius: 2px;
   cursor: initial;
   padding: 0 2px;
}

.select-group > input {
   padding: 1px 3px;
}

.note-content {
   margin-top: 20px;
   padding: 0 20px;
}

.note-content > textarea {
   resize: none;
   width: 100%;
   height: 100%;
   min-height: 610px;
   border: none;
   outline: none;
   font: 1.6rem Arial, sans-serif;
}

/* OTHER STYLES */

.popup-category-delete {
   max-width: 350px;
   text-align: center;
   padding-bottom: 20px;
   color: var(--colorGray);
}

.container-btn-category {
   margin-top: 35px;
}

.popup-category-delete h1 {
   font-size: 2.5rem;
   color: #000;
   margin-bottom: 5px;
}

.btn-confirm-delete-category, .btn-cancel-delete-category {
   width: 100%;
   height: 40px;
   font-size: 1.5rem;
   font-weight: 500; 
}

.btn-cancel-delete-category {
   background-color: #fff;
   color: #000;
   margin-top: 5px;
}

.btn-confirm-delete-category {
   background-color: rgb(255, 77, 77);
}

.btn-confirm-delete-category:hover {
   background-color: #b90009da;
}