main, .note-app {
   height: calc(100vh - 61px);
   min-height: 600px;
}

.note-app {
   width: 100%;
   display: flex;
}

/* Global */

.note-app > section {
   scroll-behavior: smooth;
}

.note-app > section::-webkit-scrollbar, .current-note > .main::-webkit-scrollbar {
   width: 5px;
   background: #F4F4F4;
}
.note-app > section::-webkit-scrollbar-thumb, .current-note > .main::-webkit-scrollbar-thumb {
   background: #dad7d7;
}

.note-app > section.hide {
   opacity: 0;
   visibility: hidden;
}

.note-app .list-dropDown {
   padding: 7px 5px;
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.note-app .list-dropDown > li:hover svg {
   fill: #000;
}

.note-app .list-dropDown > li {
   padding: 0;
}

.note-app .list-dropDown > li:hover > .tooltip {
   visibility: visible;
   opacity: 1;
   transform: translateX(0);
}

section.categories {
   width: 20%;
}

section.note-list {
   width: 35%;
}

.container-add-categorie > button, .container-add-note > button {
   width: 100%;
   height: 100%;
   padding: 0 20px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 10px;
   font: 1.6rem var(--fontDefault), sans-serif;
}

.container-add-note > button {
   box-shadow: none;
}

/* Section Categories */

.container-search, .category-item, .container-add-categorie, .container-category-loading li {
   border-radius: 8px;
   height: 50px;
   flex-shrink: 0;
}

section.categories {
   height: 100%;
   background: #F9F9F9;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 50px;
   padding: 20px;
   color: #969696;
   overflow-y: auto;
}

.container-search > div {
   border-radius: 8px;
   height: 100%;
   background-color: #fff;
   /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
   display: flex;
   align-items: center;
   padding: 0 10px;
   gap: 10px;
}

.container-search input {
   height: 100%;
   width: 100%;
   outline: none;
   border: none;
   font: 1.6rem var(--fontDefault), sans-serif;
}

.container-search input::-webkit-search-cancel-button {
   appearance: none;
   display: none;
}

.container-categories-list {
   position: relative;
   margin-top: 50px;
}

.container-categories-list ul.category-list {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

/* CATEGORY CARDS */

@keyframes slideUp {
   from { opacity: 0; transform: translateY(20px); }
   to { opacity: 1; transform: translateY(0); }
}

.category-item {
   width: 100%;
   background-color: #F9F9F9;
   animation: slideUp 0.3s ease;
   -webkit-animation: slideUp 0.3s ease;
   -moz-animation: slideUp 0.3s ease;
   -o-animation: slideUp 0.3s ease;
   transition: 0.3s;
}

.category-item.hide {
   display: none;

   /* animation future */

   /* position: absolute !important;
   opacity: 0 !important;
   visibility: hidden; */
}

.category-item.confirmation {
   background-color: #fff;
}

.category-item.confirmation .btn-name input {
   position: relative;
   z-index: 99999;
}

.category-item:hover {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   background-color: #fff;
}

.category-item:hover .category-name {
   color: #000;
}

/* CATEGORY FORM */

.category-form {
   display: flex;
   width: 100%;
   height: 100%;
}

.category-form > div {
   height: 100%;
}

/* -------- */

.container-name {
   width: 100%;
}

.container-options > .container-dropDown {
   width: 50px;
}

.container-options > .container-confirmation {
   position: relative;
   z-index: 9999;
   width: 90px;
}

.container-options {
   padding: 5px;
}

.btn-name {
   height: 100%;
   width: 100%;
   background: none;
   color: var(--colorGray);
   transition: color 0.3s;
   box-shadow: none;
   padding-left: 20px; 
   display: flex;
   align-items: center;
   gap: 10px;
}

.btn-name input {
   font-size: 1.6rem;
   pointer-events: none;
   height: 100%;
   padding: 0;
   border: none;
   cursor: pointer;
}

.btn-name > svg {
   flex-shrink: 0;
   margin-top: 2px;
}

.category-item.confirmation input {
   pointer-events: all;
   cursor: text;
}

.container-options > div {
   width: 100%;
   height: 100%;
}

.category-item.selected {
   background-color: #fff;
}

.category-item.selected .btn-name, .category-item.selected .btn-name input {
   color: var(--accentColor);
}

.container-confirmation > button {
   flex: 1 1;
   height: 100%;
   background-color: transparent;
   box-shadow: none;
   cursor: pointer;
}

.btn-confirm-category {
   z-index: 99999;
}

.category-item .container-options > div {
   display: none;
}

.category-item .container-options > div.show {
   display: flex;
}

.btn-confirm-category:hover {
   background-color: #32ff8e28;
}

.btn-undo-category:hover {
   background-color: rgba(255, 126, 126, 0.205);
}

.container-options .list-dropDown > li > button {
   cursor: pointer;
   width: 100%;
   height: 100%;
   background-color: transparent;
   border: none;
   outline: none;
}

/* CATEGORY LOADING SKELETON */

.container-category-loading, .container-noteList-loading {
   position: absolute;
   inset: 0;
   width: 100%;
   height: 100%;
   background-color: #F9F9F9;
   display: none;
}

.container-category-loading.show, .container-noteList-loading.show {
   display: block;
}

.container-category-loading > ul {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.category-loading-item > div {
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}

.category-loading-item .loading-icon {
   width: 30px;
   height: 30px;
   border-radius: 5px;
}

.category-loading-item .loading-name {
   width: 130px;
   height: 20px;
   border-radius: 5px;
}

.category-loading-item .loading-more {
   display: flex;
   gap: 3px;
}

.category-loading-item .loading-more span {
   width: 7px;
   height: 7px;
   border-radius: 50%;
}

@keyframes load {
   100% {
      background-position: -100% 0;
   }
}

.container-category-loading li {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 15px;
   width: 100%;
   background: #fff;
   /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.container-category-loading li .item, .container-noteList-loading li .item, .note-item .date-loading {
   background: linear-gradient(120deg, #ededee 30%, #f2f2f3 38%, #f2f2f3 40%, #ededee 48%);
   background-size: 200% 100%;
   background-position: 100% 0;
   animation: load 2s infinite;
}

/* SECTION NOTES LIST */

section.note-list {
   height: 100%;
   padding: 20px;
   border-right: 1px solid #DBDBDB; 
   overflow-y: auto;
} 

.note-list h1 {
   font: 400 4rem var(--fontDefault), sans-serif;
}

.container-add-note {
   margin: 20px 0 30px 0;
   height: 50px;
}

.container-add-note > button {
   background-color: #F9F9F9; 
   color: var(--accentColor);
}

.container-notes {
   position: relative;
}

.container-notes ul {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.note-item {
   width: 100%;
   height: 130px;
   border-radius: 8px;
   background-color: #F9F9F9;
   overflow: hidden;
   animation: slideUp 0.3s ease;
}

.note-item > button {
   width: 100%;
   height: 100%;
   text-align: left;
   padding: 10px;
   border: none;
   cursor: pointer;
   background-color: transparent;
   color: #969696;
   display: flex;
   flex-direction: column;
}

.note-item h2 {
   margin: 10px 0;
   font-size: 2rem;
   color: #494949;
}

.note-item small {
   font-size: 1.3rem;
}

.note-item.selected  {
   background-color: #EDEDED !important;
   color: #666666;
}

.note-item.selected .date-loading {
   background: linear-gradient(120deg, #e2e2e2 30%, #f2f2f3 38%, #f2f2f3 40%, #e2e2e2 48%);
   background-size: 200% 100%;
   background-position: 100% 0;
   animation: load 2s infinite;
}

.note-item.selected h2 {
   color: #000;
}

.note-item .note-texts {
   height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   text-overflow: ellipsis;
}

.note-item .summary {
   font-size: 1.5rem;
   overflow: hidden;
   text-overflow: ellipsis;
}

/* LOADING NOTE */

.container-noteList-loading {
   background-color: #fff;
}

.container-noteList-loading > ul {
   display: flex;
   flex-direction: column;
   gap: 20px;

}

.noteItem-loading {
   width: 100%;
   height: 130px;
   background-color: #F9F9F9;
   border-radius: 8px;
   padding: 10px;
}

.noteItem-loading > .small, .note-item .date-loading {
   width: 100%;
   max-width: 220px;
   height: 20px;
   border-radius: 5px;
}

.noteItem-loading > .title {
   width: 180px;
   height: 30px;
   margin: 10px 0;
   border-radius: 5px;
}

.noteItem-loading > .content {
   width: 100%;
   height: 40px;
   border-radius: 5px;
}

.note-item .date {
   width: 100%;
}

.note-item .date.loading > small, .date-loading {
   display: none;
} 

.date.loading .date-loading {
   display: block;
   height: 15px;
   max-width: 160px;
   border-radius: 3px;
}

/* SECTION CURRENT NOTE */

section.current-note {
   position: relative;
   width: 45%;
   height: 100%;
   padding: 20px;
   overflow: hidden !important;
   transition: 0.2s;
   opacity: 1;
   visibility: visible;
}

.current-note > .main {
   padding: 20px 0;
   height: 100%;
   overflow-y: auto;
}

section.current-note, .current-note-form {
   display: flex;
   flex-direction: column;
}

.current-note-form {
   height: 100%;
}

.note-path {
   color: var(--accentColor);
}

.current-note > .header {
   border-bottom: 1px solid #DBDBDB; 
   padding-bottom: 10px;
}

.container-more-currentNote > button {
   padding: 10px;
   cursor: pointer;
   border: none;
   background: transparent;
}

.container-more-currentNote button:hover {
   background-color: #ebebeb;
}

.container-more-currentNote .list-dropDown li {
   padding: 0;
}

.container-more-currentNote .list-dropDown button {
   background-color: transparent;
   border: none;
   cursor: pointer;
}

.container-more-currentNote > .list-dropDown {
   transform: translate(-50%, -20px);
}

.container-more-currentNote .btn-dropDown.active ~ .list-dropDown {
   transform: translate(-50%, 0px);
}

.title-note .input-note-title {
   width: 100%;
   border: none;
   outline: none;
   background-color: none;
   font: 400 4rem var(--fontDefault), sans-serif;
}

.container-summary {
   position: relative;
   margin: 10px 0;
}

.container-summary > button {
   position: relative;
   z-index: 99;
   padding-right: 10px;
   display: flex;
   align-items: center;
   font: 500 1.6rem var(--fontDefault);
   transition: 0.3s;
   border-radius: 5px;
}

.container-summary > button:hover {
   background-color: #ebebeb;
}

.container-summary > button > img {
   width: 30px;
   height: 30px;
   transition: 0.2s;
}

.container-summary-textarea {
   width: 100%;
   position: absolute;
   z-index: 1;
   margin-top: 10px;
   opacity: 0;
   visibility: hidden;
   transform: translateY(-50%);
   transition: 0.3s;
}

.container-summary > button.active > img {
   transform: rotateZ(-180deg);
}

.container-summary > button.active ~ .container-summary-textarea {
   position: relative;
   opacity: 1;
   visibility: visible;
   transform: translateY(0);
}

.summaryArea {
   width: 100%;
   height: 70px;
   resize: none;
   outline: none;
   border-radius: 8px;
   border: 1px solid #DBDBDB;
   background-color: #F6F6F6;
   font: 1.5rem var(--fontDefault);
   padding: 10px;
   transition: border-color 0.3s;
}

.summaryArea:focus {
   border-color: #afafaf;
}

.last-modification {
   margin-top: 10px;
}

.last-modification > small {
   color: #757575;
}

.last-modification strong {
   color: #000;
}

.tool-bar {
   position: sticky;
   top: -21px;
   margin: 20px 0;
   padding: 5px 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-top: 1px solid #DBDBDB;
   border-bottom: 1px solid #DBDBDB;
   background-color: #fff;
}

.tool-bar button, .select-group > select, .select-group > input {
   height: 35px;
   padding: 10px;
   border-radius: 3px;
   background: none;
   outline: none;
   border: none;
   cursor: pointer;
   flex-shrink: 0;
   transition: background-color 0.3s;
}

.tool-bar button:hover {
   background-color: #ebebeb;
}

.tool-bar button > img {
   width: 100%;
   height: 100%;
}

.tool-bar > div {
   display: flex;
   gap: 15px;
}

.tool-bar > span {
   color: #DBDBDB;
}

.select-group > select, .select-group > input {
   height: 30px;
   border: 1px solid #DBDBDB;
   background-color: #F6F6F6;
   border-radius: 5px;
   padding: 0 5px;
   transition: border-color 0.3s;
}

:is(.select-group > select, .select-group > input):focus {
   border-color: var(--accentColor);
}

.select-group > input {
   width: 40px;
   padding: 1px 3px;
}

.note-content {
   height: 100%;
   padding: 0 20px;
}

.note-content > .area-note-content {
   width: 100%;
   height: 100%;
   border: none;
   outline: none;
   font: 1.6rem Arial, sans-serif;
}

/* OTHER STYLES */

.popup-confirm-delete {
   max-width: 350px;
   text-align: center;
   padding-bottom: 20px;
   color: var(--colorGray);
}

.category-message, .note-message {
   display: none;
}

.container-btn {
   margin-top: 35px;
}

.popup-confirm-delete h1 {
   font-size: 2.5rem;
   color: #000;
   margin-bottom: 5px;
}

.btn-confirm-delete, .btn-cancel-delete {
   width: 100%;
   height: 40px;
   font-size: 1.5rem;
   font-weight: 500; 
   box-shadow: none;
}

.btn-cancel-delete {
   background-color: #fff;
   color: #000;
   margin-top: 5px;
}

.btn-confirm-delete {
   background-color: rgb(255, 77, 77);
}

.btn-confirm-delete:hover {
   background-color: #b90009da;
}

.popup-wrapper-confirm-delete.category .category-message {
   display: block;
}

.popup-wrapper-confirm-delete.note .note-message {
   display: block;
}

/* TEXT EDITOR */

/* NOTE ITEM */

.note-item font {
   font-size: 16px !important;
}

/* CURRENT NOTE */

.area-note-content ul, .area-note-content ol {
   list-style-position: inside;
   list-style-type: initial;
}

.area-note-content ol {
   list-style-type: decimal;
}

font[size="1"] {
   font-size: 12px;
}

font[size="2"] {
   font-size: 14px;
}

font[size="3"] {
   font-size: 16px;
}

font[size="4"] {
   font-size: 18px;
}

font[size="5"] {
   font-size: 20px;
}

font[size="6"] {
   font-size: 24px;
}

font[size="7"] {
   font-size: 32px;
}

/* Container Loading */

.container-auto-save {
   position: fixed;
   z-index: 9999;
   right: 20px;
   bottom: 20px;
   width: 260px;
   height: 50px;
   background-color: #000;
   border-radius: 8px;
   transition: 0.3s;
}

.container-auto-save > div {
   width: 100%;
   height: 100%;
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 15px;
   color: #fff;
   transition: 0.3s ease;
}

.container-auto-save > .success {
   gap: 8px;
}

.container-auto-save.success > .pending,
.container-auto-save > .success,
.container-auto-save.hide {
   visibility: hidden;
   opacity: 0;
}

@keyframes fadeLoading {
   from { visibility: hidden; opacity: 0; }
   to { visibility: visible; opacity: 1; }
}

.container-auto-save.success > .success {
   animation: fadeLoading 0.3s 0.3s forwards;
}

.container-auto-save.show {
   visibility: visible;
   opacity: 1;
   transform: scale(1);
}

.container-auto-save.hide {
   transition-delay: 1.5s;
   transform: scale(0.9);
}

.container-auto-save.reset {
   transition: 0;
   opacity: 0.5;
   transform: scale(0.8);
}

.container-auto-save .loading {
   width: 25px;
   height: 25px;
   border-color: #000;
   border-top-color: #fff;
}

/* Popup cloud error */

.popup-cloud-error {
   max-width: 450px;
   text-align: center;
   padding: 30px 30px !important;
}

.popup-cloud-error .container-img {
   width: 100%;
}

.popup-cloud-error .container-img > img {
   object-fit: cover;
}

.popup-cloud-error .container-texts {
   margin: auto;
   max-width: 389px;
}

.popup-cloud-error p {
   color: var(--colorGray);
   margin-top: 10px;
}

.popup-cloud-error .btn-confirm-error {
   display: inline-flex;
   gap: 3px;
   width: 120px;
   height: 40px;
   margin-top: 20px;
   background: transparent;
   box-shadow: none;
   font-weight: 600;
   color: var(--accentColor);
}

.popup-cloud-error .btn-confirm-error > img {
   width: 20px;
   transition: transform 0.2s;
}

.popup-cloud-error .btn-confirm-error:hover {
   background-color: #e2f0fe;
}

.popup-cloud-error .btn-confirm-error:hover > img {
   transform: translateX(4px);
}

@media (max-width: 430px) {
   .popup-cloud-error {
      padding: 30px 20px !important;
   }

   .popup-cloud-error h1 {
      font-size: 2.5rem;
   }
}