@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400&display=swap');

@import url('../src/components/cookie/cookie.css');
@import url('../src/components/popupForms/popup.css');
@import url('../src/components/popupProfile/popup.css');
@import url('../src/components/emailConfirmation/popup.css');
@import url('../src/components/recoverAccount/popup.css');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --primaryColor: #0066FF;
   --primaryHoverColor: #0058dd;
   --primaryBoxShadowColor: #0066ff2a;
   --primaryErrorColor: #D9000C;
   --primaryErrorHoverColor: #b40009;
   --primarySuccessColor: #4CAF50;
   --secondaryColor: #e2f0fe;
   --secondaryBorderColor: #00000028;
   --secondaryHoverBorderColor: #646369d3;
   --tertiaryColor: #F9F9F9;
   --paragraphColor: #646369;
   --primaryBoxShadow: #0000002c;
   --primaryCloseColor: #ebebeb; 
   --colorLine: #DBDBDB;
   --fontDefault: 'Inter', sans-serif;
}

html {
   touch-action: none;
   -ms-touch-action: none;
   font-size: 62.5%;
   overflow: hidden;
   -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}

html, body {
   height: 100%;
}

body {
   font: 1.6em 'Inter', sans-serif;
   font-family: var(--fontDefault);
   scroll-behavior: smooth;
   overflow-y: auto;
}

ul, ol {
   list-style: none;
}

a {
   text-decoration: none;
   color: var(--paragraphColor);
   cursor: pointer;
}

button svg, button div, button span, button img {
   pointer-events: none !important;
}

/* ---------- Styles Default ---------- */

.container-limiter {
   width: 90%;
   max-width: 1450px;
   margin: auto;
}

.center-flex {
   display: flex;
   align-items: center;
   justify-content: center;
}

/* ---------- Button Default ---------- */

.btn-default {
   user-select: none;
   -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
   position: relative;
   overflow: hidden;
   border: none;
   cursor: pointer;
   transition: 0.3s;
   font: 400 1.6rem var(--fontDefault);
   background-color: var(--primaryColor);
   box-shadow: 0 0 10px var(--primaryBoxShadowColor);
   color: #fff;
   border-radius: 8px;
}

.btn-default-hover:hover {
   background: var(--primaryHoverColor);
}

.btn-default.loading {
   pointer-events: none;
}

.btn-default.loading > .container-btn-loading {
   visibility: visible;
   opacity: 1;
}

/* ---------- Close Button Default ---------- */

.close {
   position: absolute;
   right: 15px;
   top: 15px;
}

.close-popup {
   cursor: pointer;
   background-color: transparent;
   border: none;
   transition: background-color 0.3s;
   border-radius: 5px;
}

.close-popup:hover {
   background-color: var(--primaryCloseColor);
}

/* ---------- Input Default ---------- */

.input-default {
   outline: none;
   border: 1px solid var(--colorLine);
   background: transparent;
   color: var(--paragraphColor);
   width: 100%;
   height: 40px;
   border-radius: 8px;
   padding: 0 20px;
   font-size: 1.7rem;
   transition: 0.3s;
}

.input-default:hover {
   border-color: #646369d3;
}

.input-default:focus {
   border-color: var(--primaryColor);
}

/* ---------- Error ---------- */

.container-error {
   margin-top: 5px;
   color: var(--primaryErrorColor);
   display: none;
   align-items: center;
   gap: 5px;
   animation: opacityMessage 0.3s forwards;
}

.input-and-message.error .input-default {
   border-color: var(--primaryErrorColor);
}

.input-and-message.error .input-default:focus + label,
.input-and-message.error label:focus, .input-and-message.error label {
   color: var(--primaryErrorColor) !important;
}

/* ---------- Loading ---------- */

.container-loading, .container-btn-loading {
   position: absolute;
   inset: 0;
   z-index: 9999;
   width: 100vw;
   height: 100vh;
   background: #fff;
   visibility: hidden;
   opacity: 0;
   z-index: 9999999;
}

@keyframes spinLoading {
   from { transform: rotateZ(0) }
   to { transform: rotateZ(360deg) }
}

.container-loading > div, .container-auto-save .loading, .container-btn-loading > .loading {
   height: 45px;
   width: 45px;
   border-radius: 50%;
   border: 2.5px solid rgb(209, 209, 209);
   border-top-color: rgba(0, 0, 0, 0.767);
   animation: spinLoading 0.5s linear infinite;
}

.container-btn-loading {
   transition: 0.2s;
   width: 100%;
   height: 100%;
   background-color: var(--primaryHoverColor);
}

.container-btn-loading > .loading {
   width: 20px;
   height: 20px;
   border-color: rgba(255, 255, 255, 0.363);
   border-top-color: #fff;
}

.container-loading.show {
   visibility: visible;
   opacity: 1;
}

/* ---------- Popups & Wrappers ---------- */

.popup-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.425);
   z-index: 99999;
   visibility: hidden;
   opacity: 0;
   overflow: hidden;
   transition: 0.3s;
}

.popup-wrapper.show {
   visibility: visible;
   opacity: 1;
}

.btn-wrapper-default::before {
   content: '';
   position: fixed;
   inset: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   cursor: initial;
}

@keyframes overflowDelay {
   from { overflow: hidden; }
   to { overflow-y: auto; }
}

.overlay-signIn.show,
.overlay-signUp.show,
.popup-wrapper-profile.show .popup-overlay.show  {
   animation: overflowDelay 1ms 270ms forwards;
}

.popup-overlay {
   position: absolute;
   width: 100%;
   height: 100%;
   display: grid !important;
   grid-template-columns: 100%;
   justify-items: center;
   align-items: center;
   overflow: auto !important;
}

.popup {
   position: relative;
   width: 90%;
   height: auto;
   background: #fff;
   border-radius: 20px;
   padding: 40px 20px;
   transform: scale(0.9);  
   visibility: hidden; 
   opacity: 0;
   transition: 0.3s;
}

.popup > .container-loading {
   border-radius: 20px !important;
}

.popup-wrapper.show > .overlay-signIn.show > .popup-signIn,
.popup-wrapper.show > .overlay-signUp.show > .popup-signUp,
:is(
   .popup-wrapper-cookie,
   .popup-wrapper-confirm-delete,
   .popup-wrapper-cloud-error,
   .popup-wrapper-email-confirmation,
   .popup-wrapper-reset-password
).show .popup {
   transform: scale(1);
   visibility: visible;
   opacity: 1;
   z-index: 99;
}

.popup-close {
   position: absolute;
   top: 3%;
   right: 3%;
   z-index: 9999;
   padding: 3px;
   cursor: pointer;
}

.popup-close > svg {
   width: 30px;
}

.popup-close path {
   transition: 0.4s;
}

/* ---------- CheckBox Default --------- */

.checkbox-default {
   appearance: none;
   display: inline-flex !important;
   position: relative;
   width: 20px;
   height: 20px;
   border-radius: 3px;
   border: 1px solid #00000028;
   background: #F6F6F6;
   transition: 120ms transform ease-in-out;
   cursor: pointer;
}

.checkbox-default::before {
   content: "";
   width: 0.9em;
   height: 0.9em;
   transform: scale(0);
   transition: 120ms transform ease-in-out;
   background-color: #fff;
   transform-origin: center center;
   clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checkbox-default:checked {
   background-color: var(--primaryColor);
}

.checkbox-default:checked::before {
   transform: scale(1);
}

/* ---------- Input Default ---------- */

.label-input-default {
   color: var(--paragraphColor);
   position: absolute;
   z-index: -1;
   top: 50%;
   left: 20px;
   transform: translateY(-50%);
   transition: 0.2s ease;
   font-size: 1.6rem;
   cursor: text;
   background-color: #fff;
   will-change: font-size;
}

.input-default:focus + label, .container-inputs label:focus,
.input-default:not(:placeholder-shown, :focus) ~ label {
   top: -2%;
   left: 10px;
   font-size: 1.2rem;
   padding: 0 5px;
   color: var(--primaryColor);
   z-index: 10;
}

.input-default:not(:focus) + label, .input-default:not(:focus, :hover) {
   color: var(--paragraphColor);
   border-color: #00000028;
} 

.popup .input-password {
   padding: 0 40px 0 20px;
}

/* ---------- Animation Error ---------- */

@keyframes opacityMessage {
   from { opacity: 0; }
   to { opacity: 1; }
}

/* ---------- Footer ---------- */

footer {
   position: relative;
   z-index: 999;
   padding: 20px;
   width: 100%;
   font: var(--footerGray);
   text-align: center;
   background-color: #fff;
}

/* ---------- Tool Tip ---------- */

span.tooltip {
   position: absolute;
   right: 55px;
   z-index: 9999;
   padding: 5px;
   background: #000;
   color: #fff;
   border-radius: 5px;
   text-align: center;
   transform: translateX(20px);
   visibility: hidden;
   opacity: 0;
   transition: 0.3s;
}

span.tooltip::before {
   content: '';
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: -9px;
   border: 5px solid;
   border-color: transparent transparent transparent #000;
}

/* ---------- Drop Down Derfault ---------- */

.container-dropDown {
   position: relative;
}

.container-dropDown > button {
   width: 100%;
   height: 100%;
}

.btn-dropDown {
   border: none;
   background: transparent;
   outline: none;
   cursor: pointer;
   border-radius: 5px;
   transition: 0.3s;
}

.btn-dropDown::before {
   visibility: hidden;
   opacity: 0;
}

.btn-dropDown.active::before {
   visibility: visible;
   opacity: 1;
}

.list-dropDown {
   background-color: #fff;
   box-shadow: none;
   border-radius: 8px;
   padding: 5px;
   position: absolute;
   z-index: 9999;
   left: 50%;
   color: var(--paragraphColor);
   transition: 0.25s;
   
   opacity: 0;
   visibility: hidden;
   transform: translate(-50%, 20px);
   will-change: transform;
}

.btn-dropDown.active ~ .list-dropDown {
   opacity: 1;
   visibility: visible;
   transform: translate(-50%, 40px);
   box-shadow: 0 0 10px var(--primaryBoxShadow);
}

.list-dropDown > li {
   width: 100%;
   color: #000;
   cursor: pointer;
   padding: 7px 10px;
   border-radius: 5px;
   font-size: 1.6rem;
   transition: 0.2s;
   white-space: nowrap;
}

.list-dropDown hr {
   display: block;
   height: 1px;
   background-color: var(--colorLine);
   border: none;
   margin: 0 2px;
}

/* ---------- Resposive ---------- */

@media (max-width: 550px) {
   .popup {
      width: 100% !important;
      max-width: 100% !important;
      border-radius: 20px 20px 0 0;
      padding: 30px 20px !important;
      transform: scale(1) translateY(100%);
      opacity: 1;
   }

   .popup-overlay {
      align-items: flex-end !important;
   }

   .popup-wrapper {
      transition-delay: 0.3s !important;
   }

   .popup-wrapper.show {
      transition: 0.2s !important;
   }
}

@media (max-width: 430px) {
   html {
      font-size: 55%;
   }
}