@charset "UTF-8";

@media (max-width: 1365px) {
   .about-product {
      justify-content: center;
   }
}

@media (max-width: 1355px) {
   .container-about-product > .background {
      top: -250px;
      left: -300px;
   }
}

@media (max-width: 1326px) {
   .apresentation-flex.center-flex {
      gap: 40px;
   }

   .screen-notebook {
      width: 500px;
      height: 350px;
   }

   .base-notebook {
      width: 600px;
   }

   .phone {
      width: 180px;
      height: 320px;
   }
}

@media (max-width: 1221px) {
   .apresentation-flex.center-flex {
      justify-content: flex-start;
   }
}  

@media (max-width: 1093px) {
   .container-about-product {
      position: relative;
      top: 0;
   }
}

@media (max-width: 980px) {
   .apresentation-flex h1 {
      font-size: min(4.5rem, 9vw);
   }
}

@media (max-width: 768px) {
   .container-devices {
      display: none;
   }

   .container-texts {
      flex-shrink: 1;
      margin: auto;
   }
}

@media (max-width: 320px) {
   main.container-sticky, .container-about-product {
      margin-top: 50px !important;
   }

   .apresentation-flex {
      top: 110px;
   }
}