main {
   overflow-x: hidden;
}

main p {
   font-size: 1.5rem;
}

main > section:not(section.creativity), footer {
   width: 90%;
   max-width: 1150px;
}

/* ---------- Loaded animation ---------- */

@keyframes fadeLoading {
   from { transform: translateY(20px); opacity: 0; }
   to { transform: translateY(0); opacity: 1; }
}

@keyframes apresentationMain {
   from { transform: rotateX(-20deg) scale(1.2); opacity: 0; }
   to { transform: rotateX(0) scale(1); opacity: 1 }
}

body.loaded :is(.apresentation h1, .apresentation p, .apresentation button) {
   animation: fadeLoading 0.7s forwards ease;
}

body.loaded .apresentation p {
   animation-delay: 0.2s;
}

body.loaded .apresentation button {
   animation-delay: 0.4s;
}

body.loaded .apresentation .container-main {
   animation: apresentationMain 1s ease;
}

body.loaded :is(.drawing1, .drawing2, .drawing3, .drawing4) {
   opacity: 1;
}

/* ---------- Apresentation ---------- */

.apresentation {
   margin: 70px auto;
   text-align: center;
   position: relative;
}

.apresentation .container-main-and-drawings {
   perspective: 1000px;
}

/* ---------- Apresentation First Div ---------- */

.apresentation h1 {
   margin: auto;
   font: 800 min(5.5rem, 9vw) var(--fontDefault);
   width: 100%;
   max-width: 900px;
}

.apresentation p {
   margin: 30px auto;
   font: min(1.8rem, 4vw) var(--fontDefault);
   color: var(--paragraphColor);
   width: 100%;
   max-width: 400px;
}

.apresentation h1, .apresentation p, .apresentation button {
   opacity: 0;
}

.apresentation button, .creativity button {
   width: 240px;
   height: 45px;
   font-weight: 500;
}

/* ---------- Apresentation Second Div ---------- */

.apresentation > div:last-child {
   position: relative;
}

.apresentation .container-main {
   position: relative;
   z-index: 999;
   margin-top: 70px;
   padding: 5px;
   border-radius: 20px;
   background: linear-gradient(180deg, #E4E4E4 0%, rgba(188, 215, 237, 0.568) 163.8%, rgba(188, 215, 237, 0.425) 163.8%);
   box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
}

.apresentation .container-main > img { 
   width: 100%;
   vertical-align: middle;
   border-radius: 16px;
   pointer-events: none;
   user-select: none;
}

/* ---------- Apresentation Drawings ---------- */

.drawing1, .drawing2, .drawing3, .drawing4 {
   opacity: 0;
   transition: 0.6s;
   transition-delay: 0.7s;
   z-index: 99;
   position: absolute;
}

.drawing1 {
   top: -70px;
   left: 12%;
}

.drawing2 {
   top: -50px;
   right: -40px;
}

.drawing3 {
   right: 13%;
   bottom: -60px;
}

.drawing4 {
   left: -30px;
   bottom: -40px;
}

/* ---------- Drawings Animation --------- */

@keyframes animationDrawing1 {
   from { stroke-dashoffset: 0; }
   to { stroke-dashoffset: -40; }
}

.drawing1 .trace {
   stroke-dashoffset: -40;
   animation: animationDrawing1 2s infinite linear;
}

@keyframes fadeDrawingAnimation {
   0% { opacity: 1; }
   50% { opacity: 0; }
   100% { opacity: 1; }
}

.drawing2 path, .drawing4 path { animation: fadeDrawingAnimation 3s infinite linear; }

.drawing2 path:nth-child(1) { animation-delay: 0; }
.drawing2 path:nth-child(2) { animation-delay: 0.5s; }
.drawing2 path:nth-child(3) { animation-delay: 1s; }

.drawing4 path:nth-child(1) { animation-delay: 0; }
.drawing4 path:nth-child(2) { animation-delay: 0.5s; }

/* ---------- Apresentation Backlights ---------- */

.backlight1, .backlight2 {
   position: absolute;
   width: 600px;
   height: 600px;
}

.backlight1 > img, .backlight2 > img {
   width: 100%;
   pointer-events: none;
   user-select: none;
}

.backlight1 {
   left: -20%;
   top: 10%;
}

.backlight2 {
   right: -20%;
   bottom: -25%;
}

/* ---------- About Notes ---------- */

.about-notes {
   margin: 200px auto 0 auto;
}

.about-notes > div:first-child h1 {
   text-align: center;
   font: 800 3.6rem var(--fontDefault);
}

.about-notes h1 > span {
   color: var(--primaryColor);
}

/* ---------- Containers ---------- */

.about-notes .container-containers {
   margin-top: 100px;
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-gap: 50px 30px;
   grid-template-areas: 
      'container-organize container-customize' 
      'container-all-devices container-all-devices'
   ;
}

.about-notes .container-containers > div {
   display: flex;
   flex-direction: column;
   text-align: center;
   background: linear-gradient(180deg, #F2F2F4 0%, rgba(166, 207, 240, 0.247) 176.67%);
   border-radius: 20px;
   overflow: hidden;
   position: relative;
}

.about-notes .container-containers > div h1 {
   padding: 0 20px;
   margin-top: 35px;
   font: 700 min(2.5rem, 2vw) var(--fontDefault);
}

.about-notes .container-containers > div p {
   padding: 0 20px;
   margin: 10px auto;
   color: var(--paragraphColor);
   font-size: min(1.6rem, 1.3vw);
}

.about-notes .container-containers > div > .container-img-section {
   flex: 1 1;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   padding: 10px;
   overflow: hidden;
}

.about-notes .container-organize {
   grid-area: container-organize;
}

.about-notes .container-customize {
   grid-area: container-customize;
}

.about-notes .container-all-devices {
   grid-area: container-all-devices;
}

/* ---------- Container Organize ---------- */

.container-organize p {
   width: 100%;
   max-width: 400px;
}

.container-organize .container-img-section > img {
   width: 100%;
   margin-left: 2%;
}

/* ---------- Container Customize ---------- */

.container-customize p {
   width: 100%;
   max-width: 450px;
}

.container-customize .container-img-section > img {
   width: 100%;
}

/* ---------- Container All Devices ---------- */

.container-all-devices p {
   width: 100%;
   max-width: 600px;
}

.container-all-devices .container-img-section {
   padding-bottom: 0 !important;
}

.container-all-devices .container-img-section > img{
   width: 90%;
}

/* ---------- About good notes ----------- */

.about-good-notes {
   margin: 200px auto 0 auto;
}

.about-good-notes h1 {
   text-align: center;
   font: 800 3.6rem var(--fontDefault);
}

.about-good-notes h3 {
   font-weight: 600;
}

.about-good-notes p {
   color: var(--paragraphColor);
}

.about-good-notes > div:last-child {
   margin-top: 100px;
}

/* ---------- Container Items ---------- */

.about-good-notes .container-items {
   display: grid;
   grid-gap: 30px 20px;
   grid-template-columns: repeat(4, 1fr);
   
}

.about-good-notes .container-items .icon-and-name {
   display: flex;
   align-items: center;
   gap: 10px;
   margin-bottom: 10px;
}

/* ---------- Creativity ---------- */

.creativity {
   width: 100%;
   height: 350px;
   margin-top: 200px;
   text-align: center;
   background-color: #f6f6f6;
   position: relative;
   overflow: hidden;
}

.creativity h1 {
   font: 800 3.6rem var(--fontDefault);
}

.creativity h1 > span {
   color: var(--primaryColor);
}

/* ---------- Creativity Content ---------- */

.creativity > .content {
   padding: 0 20px;
   position: relative;
   z-index: 10;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 50px;
}

/* ---------- Ornaments ---------- */

.ornaments {
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: 1;
   inset: 0;
   overflow: hidden;
}

.ornaments > div {
   position: absolute;
}

@keyframes eclipseAnimation {
   from { transform: rotate(0); }
   to { transform: rotate(360deg); }
}

.ornament-eclipse-1, .ornament-eclipse-2 {
   width: 80px;
   height: 80px;
}

.ornament-eclipse-1 > img, .ornament-eclipse-2 > img {
   animation: eclipseAnimation 7s infinite linear;
}

.ornament-eclipse-1 {
   left: 20%;
   top: -40px;
}

.ornament-eclipse-2 {
   bottom: -40px;
   left: 52%;   
}

.ornament-drawing-1 {
   bottom: 30%;
   right: 27%;
}

.ornament-drawing-2 {
   top: 47%;
   left: 28%;
}

/* ---------- Animation Ornaments  ---------- */

.animation-ornaments-to-down, .animation-ornaments-to-up {
   position: absolute;
   width: 100%;
   min-width: 1200px;
   height: 100%;
}

.animation-ornaments-to-down > div, .animation-ornaments-to-up > div {
   position: absolute;
   will-change: transform;
}

.animation-ornaments-to-up {
   transform: rotateX(180deg);
}

@keyframes animationOrnament {
   0% { opacity: 0; top: -10%; transform: translateX(20px) rotate(0deg); }
   10% { opacity: 1 }
   20% { transform: translateX(-20px) rotate(45deg); }
   40% { transform: translateX(-20px) rotate(90deg); }
   60% { transform: translateX(20px) rotate(120deg); }
   80% { transform: translateX(-20px) rotate(170deg); }
   100% { transform: translateX(-20px) rotate(225deg); top: 110%; }
}

.ornament-category-1, .ornament-note-2, .ornament-note-5  {
   color: #7B7B7B;
}

.ornament-note-1, .ornament-note-3, .ornament-category-4 {
   color: var(--primaryColor);
}

.ornament-category-1 {
   left: 20%;
   animation: animationOrnament 15s linear infinite;
   animation-delay: -7s;
   filter: blur(1.5px);
}

.ornament-category-2 {
   left: 70%;
   animation: animationOrnament 20s linear infinite;
   filter: blur(1.5px);
}

.ornament-category-3 {
   left: 40%;
   animation: animationOrnament 17s linear infinite;
   animation-delay: -3s;
   filter: blur(1px);
}

.ornament-category-4 {
   left: 5%;
   animation: animationOrnament 14s linear infinite;
   animation-delay: -5s;
}

.ornament-category-5 {
   right: 5%;
   animation: animationOrnament 14s linear infinite;
   animation-delay: -3s;
   filter: blur(1px);
}

.ornament-note-1 {
   left: 85%;
   animation: animationOrnament 18s linear infinite;
   animation-delay: -10s;
}

.ornament-note-2 {
   left: 50%;
   animation: animationOrnament 20s linear infinite;
   animation-delay: -5s;
   filter: blur(1.5px)
}

.ornament-note-3 {
   left: 30%;
   animation: animationOrnament 18s linear infinite;
   animation-delay: -10s;
   filter: blur(1px);
}

.ornament-note-4 {
   left: 10%;
   animation: animationOrnament 14s linear infinite;
}

.ornament-note-5 {
   left: 80%;
   animation: animationOrnament 23s linear infinite;
   animation-delay: -5s;
   filter: blur(1px);
}

/* ---------- Footer ---------- */

footer {
   padding: 40px 0;
   margin: 120px auto 0 auto;
   border-top: 1px solid var(--colorLine);
   color: var(--paragraphColor);
   font-size: 1.4rem;
}

footer > .links {
   margin-top: 15px;
   font-size: 1.3rem;
}

footer strong {
   white-space: nowrap;
}

footer > .links > a, footer strong {
   color: #000;
   font-weight: 500;
}

footer > .links > a:hover {
   color: var(--primaryColor);
   text-decoration: underline;
}

/* ---------- Responsive ---------- */

@media (max-width: 1200px) {
   .backlight1, .backlight2 {
      width: 400px;
      height: 400px;
   }

   .backlight1 {
      left: -15%;
      top: 25%;
   }

   .backlight2 {
      right: -15%;
      bottom: -25%;
   }
}

@media (max-width: 900px) {
   /* ---------- Apresentation ---------- */

   .drawing1 {
      top: -40px
   }

   .drawing1 > svg {
      width: 45px;
      height: 38px;
   }

   .drawing2 {
      top: -25px;
      right: -25px;
   }

   .drawing2 > svg {
      width: 25px;
      height: 20px;
   }

   .drawing3 {
      bottom: -40px
   }

   .drawing3 > img {
      width: 32px;
   }

   .drawing4 {
      bottom: -25px;
      left: -15px;
   }

   .drawing4 > svg {
      width: 18px;
      height: 16px;
   }

   /* ---------- About Notes ---------- */

   .about-notes .container-containers {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);

      grid-gap: 30px;

      grid-template-areas: 
         'container-organize'
         'container-customize'
         'container-all-devices'
      ;
   }

   .about-notes .container-containers > div h1 {
      font-size: min(2.5rem, 4vw);
   }
   
   .about-notes .container-containers > div p {
      font-size: min(1.6rem, 2.5vw);
   }

   .container-all-devices .container-img-section {
      padding: 0;
   }

   .container-all-devices .container-img-section > img {
      position: absolute;
      width: 250%;
      left: 5%;
   }

   .backlight1 {
      top: 30%;
   }

   .backlight2 {
      bottom: -20%;
   }

   .about-good-notes .container-items {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
   }
}

@media (max-width: 750px) {
   .about-notes, .about-good-notes, .creativity {
      margin-top: 150px;
   }

   .backlight1, .backlight2 {
      width: 300px;
      height: 300px;
   }

   .backlight1 {
      left: -15%;
      top: 40%;
   }

   .backlight2 {
      bottom: -15%;
   }

   .about-good-notes .container-items {
      grid-template-columns: 350px;
      justify-content: center;
   }
}

@media (max-width: 460px) {
   .about-notes, .about-good-notes, .creativity {
      margin-top: 100px;
   }

   .creativity h1 {
      font-size: min(3.6rem, 7vw);
   }

   .about-good-notes h1, .about-notes > div:first-child h1 {
      font-size: 3rem;
   }

   .drawing1, .drawing2, .drawing3, .drawing4 {
      display: none;
   }

   .apresentation .container-main {
      border-radius: 15px;
   }

   .apresentation .container-main > img {
      border-radius: 11px;
   }

   .backlight1, .backlight2 {
      width: 200px;
      height: 200px;
   }

   .backlight1 {
      top: 50%;
   }

   .about-good-notes .container-items {
      grid-template-columns: 1fr;
   }
}