main {
   width: 100%;
   max-width: 1150px;
   margin: auto;
}

.apresentation {
   width: 100%;
   margin: 70px 0;
   text-align: center;
}

/* ---------- Apresentation First Div ---------- */

.apresentation h1 {
   margin: auto;
   font: 800 5.5rem var(--fontDefault);
   width: 900px;
}

.apresentation p {
   margin: 30px auto;
   font: 2rem var(--fontDefault);
   color: var(--paragraphColor);
   width: 400px;
}

.apresentation button {
   width: 240px;
   height: 45px;
   font-weight: 500;
}

/* ---------- Apresentation Second Div ---------- */

.apresentation > div:last-child {
   position: relative;
}

.apresentation .container-main {
   position: relative;
   z-index: 999;
   margin-top: 70px;
   padding: 5px;
   border-radius: 20px;
   background: linear-gradient(180deg, #E4E4E4 0%, rgba(188, 215, 237, 0.568) 163.8%, rgba(188, 215, 237, 0.425) 163.8%);
   box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
}

.apresentation .container-main > img { 
   width: 100%;
   vertical-align: middle;
   border-radius: 16px;
   pointer-events: none;
}

/* ---------- Apresentation Drawings ---------- */

.drawing1, .drawing2, .drawing3, .drawing4 {
   z-index: 99;
   position: absolute;
}

.drawing1 {
   top: -60px;
   left: 12%;
}

.drawing2 {
   top: -40px;
   right: -30px;
}

.drawing3 {
   right: 13%;
   bottom: -60px;
}

.drawing4 {
   left: -30px;
   bottom: -40px;
}

/* Pensar em como diminuir o processamento (talvez com gif) */

/* @keyframes dash {
   from { stroke-dashoffset: 0; }
   to { stroke-dashoffset: -40; }
}

.drawing1 .trace {
   stroke-dashoffset: -40;
   animation: dash 2s infinite linear;
} */

/* ---------- Backlights ---------- */

.backlight1, .backlight2 {
   position: absolute;
   width: 600px;
   height: 600px;
   border-radius: 50%;
}

.backlight1 {
   left: -15%;
   top: -35%;
   background: radial-gradient(39.07% 39.07% at 50% 50%, rgba(163, 234, 255, 0.432) 0%, rgba(0, 102, 255, 0) 100%);
}

.backlight2 {
   right: -15%;
   bottom: -45%;
   background: radial-gradient(39.07% 39.07% at 50% 50%, rgba(128, 187, 255, 0.384) 0%, rgba(0, 46, 115, 0) 100%);
}

/* ---------- About Notes ---------- */

.about-notes {
   margin-top: 200px;
}

.about-notes > div:first-child h1 {
   text-align: center;
   font: 800 3.6rem var(--fontDefault);
}

.about-notes h1 > span {
   color: var(--primaryColor);
}

/* ---------- Containers ---------- */

.about-notes .container-containers {
   margin-top: 100px;
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 450px 450px;
   grid-gap: 50px 30px;
   grid-template-areas: 
      'container-organize container-customize' 
      'container-all-devices container-all-devices'
   ;
}

.about-notes .container-containers > div {
   text-align: center;
   background: linear-gradient(180deg, #F2F2F4 0%, rgba(166, 207, 240, 0.473) 176.67%);
   border-radius: 20px;
   overflow: hidden;
   position: relative;
}

.about-notes .container-containers > div h1 {
   margin-top: 35px;
   font: 700 2.8rem var(--fontDefault);
}

.about-notes .container-containers > div p {
   margin: 10px auto;
   color: var(--paragraphColor);
   font-size: 1.6rem;
}

.about-notes .container-organize {
   grid-area: container-organize;
}

.about-notes .container-customize {
   grid-area: container-customize;
}

.about-notes .container-all-devices {
   grid-area: container-all-devices;
}

/* ---------- Container Organize ---------- */

.container-organize p {
   width: 400px;
}

.container-organize .container-img-section {
   padding: 20px;
}

.container-organize img {
   width: 100%;
   margin-left: 5px;
   pointer-events: none;
}

/* ---------- Container Customize ---------- */

.container-customize p {
   width: 450px;
}

.container-customize .container-img-section {
   padding: 0 20px;
   margin-top: 20px;
}

.container-customize .container-img-section > img {
   width: 100%;
   pointer-events: none;
}

/* ---------- Container All Devices ---------- */

.container-all-devices p {
   width: 600px;
}

.container-all-devices .container-img-section {
   width: 100%;
   padding: 0 60px;
   position: absolute;
   bottom: 0;
}

.container-all-devices .container-img-section > img {
   width: 100%;
}