header {
   font-family: var(--fontDefault); 
   position: relative;
   background: #fff;
   border-bottom: 1px solid #DBDBDB; 
   padding: 5px 34px; 
}

header a, .button-signIn  {
   font-size: 1.5rem;
   padding: 7px 10px;
   border-radius: 8px;
   transition: 0.3s;
}

a.link-logo {
   padding: 7px 0;
}

.button-signIn {
   color: var(--colorGray) !important;
   background: transparent !important;
}

.button-signUp {
   font-size: 1.5rem;
   color: #fff;
   margin: 0 10px;
}

.button-signUp {
   width: 100px;
   height: 30px;
}

.good-notes-logo {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   font: 400 3rem 'Fredoka', sans-serif;
}


.container-header-flex, .container-authentication {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
}

.pipe-header {
   margin-right: 13px;
   color: #DBDBDB;
}
.container-content-header {
   display: flex;
}

.container-navigation, .container-navigation nav > ul {
   display: flex;
   align-items: center;
   gap: 13px;
}

:is(.container-navigation a, .container-authentication a:first-child, .user-information > summary):hover {
   color: #000;
}
.button-signIn:hover {
   color: #000 !important;
}

.button-hamburguer, .nav-hamburguer, .line-hamburguer {
   display: none;
}

/* USER LOGGED IN */

.container-isLoggedIn {
   position: relative;
}

.user-information-hamburguer {
   display: none;
}

.user-information, .user-information-hamburguer {
   font-size: 1.5rem;
   color: var(--colorGray);
}

.user-information {
   width: 150px;
}

.user-information > summary {
   list-style-type: "";
   cursor: pointer;
   padding: 0 10px;
}

.user-information > summary::after {
   content: "";
   position: absolute;
   right: -20%;
   z-index: 999;
   width: 30px;
   height: 30px;
   background: url('../../../images/arrow_drop.svg');
}

.user-information > summary > img{
   width: 40px;
   height: 40px;
}

:is(.user-information > ul > li, .user-information-hamburguer li):hover {
   background-color: rgb(245, 245, 245);
   color: #000;
}