header {
   font-family: var(--fontDefault); 
   position: relative;
   background: #fff;
   border-bottom: 1px solid var(--colorLine); 
   padding: 5px 34px; 
}

header a, .button-signIn  {
   font-size: 1.6rem;
   padding: 7px 10px;
   border-radius: 8px;
   transition: 0.3s;
}

a.link-logo {
   padding: 7px 0;
}

.button-signIn {
   color: var(--paragraphColor);
   background: transparent;
   box-shadow: none;
}

.button-signUp {
   color: #fff;
   margin: 0 10px;
}

.button-signUp {
   width: 105px;
   height: 30px;
}

.good-notes-logo {
   color: #000;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   font: 400 3rem 'Fredoka', sans-serif;
}

.container-header-flex, .container-authentication {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
}

.pipe-header {
   margin-right: 13px;
   color: var(--colorLine);
}
.container-content-header {
   display: flex;
}

.container-navigation, .container-navigation nav > ul {
   display: flex;
   align-items: center;
   gap: 13px;
}

:is(.container-navigation a, .container-authentication a:first-child):hover {
   color: #000;
}
.button-signIn:hover {
   color: #000 !important;
}

.button-hamburguer, .nav-hamburguer, .line-hamburguer {
   display: none;
}

/* ---------- User Logged In ---------- */

.container-isLoggedIn {
   width: 70px;
   height: 50px;
}

.btn-dropDown-header-menu.btn-dropDown:hover {
   background-color: #fff !important;
}

.btn-dropDown-header-menu {
   padding: 5px 0;
   text-align: left;
   display: flex;
   align-items: center;
   gap: 5px;
}

.btn-dropDown-header-menu > img {
   object-fit: cover;
   border-radius: 50%;
   width: 40px;
   height: 100%;
}

.btn-dropDown-header-menu > svg {
   height: 100%;
}

.container-isLoggedIn > ul.list-dropDown {
   width: 130px;
   left: -10%;
   transform: translate(-50%, -25px);
}
.container-isLoggedIn > button.active ~ ul.list-dropDown {
   transform: translate(-50%, -5px);
}

.container-isLoggedIn > ul > li:hover {
   background-color: var(--tertiaryColor);
}