.popup-wrapper-reset-password.show, .popup-wrapper-reset-password.show .popup {
   transition-delay: 0.3s;
}

.popup-reset-password {
   max-width: 320px;
   text-align: center;
}

.popup-reset-password .close {
   top: 10px;
   right: 10px;
}

.popup-reset-password h1 {
   font: 800 2.5rem var(--fontDefault);
}

.popup-reset-password p {
   margin-top: 10px;
   font: 1.6rem var(--fontDefault);
   color: var(--paragraphColor);
}

.popup-reset-password .containers-inputs {
   margin-top: 30px;
}

.popup-reset-password .containers-inputs > div, .popup-reset-password .container-btn {
   margin-top: 20px;
}

.popup-reset-password .container-btn > button {
   width: 100%;
   height: 40px;
}