.popup-signIn.popup {
   max-width: 410px;
}
.popup-signUp.popup {
   max-width: 560px;
}

.popup-signIn > div, .popup-signUp > div {
   text-align: center;
}

.popup-forms form {
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   gap: 15px;
}

/* ---------- Title And Subtitle Forms ---------- */

.container-form-title > h1 {
   font: 800 4rem var(--fontDefault);
   line-height: 45px;
}

.container-form-title > h2 {
   font: 400 1.8rem var(--fontDefault);
   color: var(--paragraphColor);
}

.container-inputs-password {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 10px;
}

.container-inputs-password > .container-error {
   grid-column: 1 / 3;
}

/* ---------- Eye Input Password ---------- */

.btn-eyes {
   background-color: transparent;
   width: 30px;
   height: 30px;
   position: absolute;
   top: 50%;
   right: 5px;
   transform: translateY(-50%);
   z-index: 999;
   border-radius: 5px;
   transition: background-color 0.3s;
   user-select: none;
}

.eye-password, .no-eye-password  {
   display: block;
   position: absolute;
   visibility: hidden;
   width: 100%;
   height: 100%;
   background: url('../../../images/eye_show.svg') no-repeat center;
}

.popup-wrapper.show .eye-password {
   visibility: visible;
}

.no-eye-password {
   background: url('../../../images/eye_hide.svg') no-repeat center;
}

.btn-eyes.show > .eye-password {
   visibility: hidden;
}

.btn-eyes.show > .no-eye-password {
   visibility: visible;
}

.btn-eyes:hover {
   background-color: var(--primaryCloseColor);
}

/* ---------- Container Button ---------- */

.container-buttonSubmit {
   width: 100%;
}

.popup-signUp .container-buttonSubmit {
   margin-top: 10px;
}

.container-buttonSubmit > button {
   width: 100%;
   height: 40px;
   font-size: 1.7rem;
}

/* ---------- Container Orther Form Options ---------- */

.orthers-form-options {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   font-size: 1.5rem;
}

.container-info-terms {
   margin-top: 10px;
   color: var(--paragraphColor);
   font-size: 1.4rem;
}

.container-inputs {
   width: 100%;
   position: relative;
   margin-top: 5px;
}

/* ---------- CheckBox Remember Me ---------- */

.container-inputCheckbox {
   margin: 5px 0;
   color: var(--paragraphColor);
}

.container-inputCheckbox > label {
   user-select: none;
}

.container-inputCheckbox > input {
   margin-right: 5px;
}

.prominent-span {
   user-select: none;
   color: var(--primaryColor);
   cursor: pointer;
}

.container-forgot-password > span, .container-info-terms span {
   padding: 5px;
   color: var(--paragraphColor);
}

.container-info-terms span {
   color: #000;
   font-weight: 500;
}

.prominent-span:hover {
   text-decoration: underline;
}

.container-hasAccount {
   margin-top: 20px;
   padding-top: 15px;
   border-top: 1px solid #00000028;
   font-size: 1.6rem;
}

/* ---------- State Message ---------- */  

.popup-signIn form.error .input-and-message input {
   border-color: var(--primaryErrorColor);
}

.popup-signIn form.error .input-and-message label {
   color: var(--primaryErrorColor) !important;
}

.input-and-message.error .container-error {
   display: flex;
}

.container-error.last {
   margin-bottom: 5px;
}

.container-error.generic-error {
   margin: 0;
}

.input-and-message.generic-container {
   display: none;
}

.input-and-message.generic-container.error {
   display: block;
}

.popup-signUp .input-and-message.error ~ div {
   margin-top: 0;
}

/* ---------- Loading ---------- */

.popup-content {
   transition: 0.4s;
}

.popup .container-loading > div {
   height: 40px;
   width: 40px;
}

.popup .container-loading {
   width: 100%;
   height: 100%;
}

/* ---------- Animations ---------- */

.popup-content.hideToLoading {
   opacity: 0;
}

/* ---------- Rresposive ---------- */

@media (max-width: 550px) {
   .popup-wrapper-auth.show > .overlay-signIn.show > .popup-signIn,
   .popup-wrapper-auth.show > .overlay-signUp.show > .popup-signUp {
      transform: translateY(0) !important;
   }
}

@media (max-width: 500px) {
   .container-inputs-password {
      grid-template-columns: 1fr;
      gap: 0;
   }

   .container-inputs-password > .container-inputs:first-child {
      margin-bottom: 15px;
   }

   .container-inputs-password > .container-error {
      grid-column: 1 / 2;
   }
}

@media (max-width: 360px) {
   .orthers-form-options, .container-info-terms {
      font-size: 1.2rem;
   }

   .popup-signUp .container-info-terms {
      margin: 5px 0 !important;
   }

   .popup-signUp {
      padding: 40px 20px 30px 20px !important;
   }

   .container-form-title > h1 {
      font-size: 3.5rem;
   }
}

@media (max-width: 300px) {
   .orthers-form-options, .container-info-terms {
      font-size: 1.1rem;
   }
}